@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

// 변수설정
// colors
$bg-light: #F3EDFF;
$bg-mid: #D6C1FF;
$primary: #9A74EB;
$point: #FFC700;

$txt-default: #333;
$txt-sub: #555;

$line : #ddd;

$w: #fff;
$b: #000;

// font
$ft-default : "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";