@import 'variables';

// reset
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

a {
  color: $txt-default;
}

span, p {
  font-family: $ft-default;
  color: $txt-default;
  font-size: 16px; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ft-default;
}

.blind {
  display: none;
}


// style
// menu bar(circle)
nav {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 80px;
  height: 300px;
  cursor: grab;
}

.nav-content .toggle-btn,
.nav-content span a {
  width: 60px;
  height: 60px;
  background: $w;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.nav-content .toggle-btn {
  width: 70px;
  height: 70px;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-60deg);
  .toggle-btn{
    font-size: 30px;
    color: $primary;
    z-index: 100;
    cursor: pointer;
    transform: rotate(60deg);
    transition: all .6s ease;
  }
  span {
    position: absolute;
    transition: all .6s ease;
    opacity: 0;
    a {
      transform: rotate(60deg);
      &:hover {
        ion-icon, img {
          opacity: 1;
        }
      }
      img {
        width: 33px;
        height: 33px;
        opacity: .65;
        transform: rotate(calc(var(--i) * (360deg / -6)));
        transition: .2s;
      }
      ion-icon{
        font-size: 24px;
        opacity: .65;
        transform: rotate(calc(var(--i) * (360deg / -6)));
        transition: .2s;
      }
    }
  }
}

nav.open .nav-content span {
  transform: rotate(calc(var(--i) * (360deg/6))) translateY(-120px);
  opacity: 1;
}

nav.open .toggle-btn {
  transform: rotate(375deg);
}

// fullpage : navigation bar


// home (intro)
.intro-animation{
  position: relative;
}

.animation {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-text{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.eng {
  display: none;
}

.annyeong,
.hello {
  position: relative;
  margin: 0 -10px;
  top: 20px;
  width: 180px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .4));

  animation: bounce .45s ease infinite alternate;
  &:nth-child(2) {animation-delay: .1s;}
  &:nth-child(3) {animation-delay: .2s;}
  &:nth-child(4) {animation-delay: .3s;}
  &:nth-child(5) {animation-delay: .4s;}
  &:nth-child(6) {animation-delay: .5s;}
}
@keyframes bounce {
  100% {
    top: -20px;
    filter: drop-shadow(0 50px 25px rgba(0, 0, 0, .1));
  }
}

// section set
.section {
  position: relative;
}

.sec-bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.sec-white {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 85%;
  height: 90vh;
  margin: 0 auto;
  padding: 40px;
  background: $w;
  border-radius: 20px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, .1);
}

.pin {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
  &.pin-lu {
    top: 20px;
    left: 20px;
  }
  &.pin-ru {
    top: 20px;
    right: 20px;
  }
  &.pin-ld {
    bottom: 20px;
    left: 20px;
  }
  &.pin-rd {
    bottom: 20px;
    right: 20px;
  }
}

// profile (info)
h3 {
  font-size: 28px;
}

.skill h3,
.certificate h3 {
  margin-top: 60px;
}

.profile-sec {
  background: linear-gradient(to bottom, $w, $bg-light);
}

.info-bg {
  background: url(../../assets/images/comm/line-w.png) center center / cover no-repeat;
}

.info-wrap {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  .pin {
    background: $primary;
  }
}


.line {
  background: $line;
  width: 33vw;
  height: 1px;
  margin: 5px 0 25px 0;
}

// info
.left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  .typing {
    margin-top: 20px;
  }
}

.right-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

// left- info
.info-photo{
  position: relative;
  .twinkle {
    animation: twinkle 2.5s ease-in infinite;
    position: absolute;
  }
  .t-r {
    top: 100px;
    left: 420px;
    width: 45px;
  }
  .t-l1 {
    bottom: 160px;
    left: 27px;
    width: 20px;
  }
  .t-l2 {
    bottom: 110px;
    left: 40px;
    width: 40px;
  }
}
@keyframes twinkle{
  0% {transform: 0}
  100% {transform: rotateY(360deg)}
}

.typing {
  font-size: 30px;
  font-weight: 500;
  height: 55px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  font-size: 30px;
}
.tag {
  font-size: 30px;
  font-weight: 800;
  margin-left: 4px;
  color: $primary;
}
.tag::after {
  content: '';
  margin-left: 5px;
  border-right: 2px solid $txt-default;
  animation: cursor .9s infinite steps(2);
}
@keyframes cursor {
  from { border-right: 2px solid $bg-mid; }
  to { border-right: 2px solid $bg-mid; }
}

.info-desc {
  font-size: 28px;
  font-weight: 600;
  span {
    color: $point;
    font-size: 28px;
    font-weight: 700;
  }
}

.info-list {
  color: $txt-sub;
  li {
    display: flex;
    margin-bottom: 7px;
  }
  a {
    display: flex;
    width: auto;
    height: auto;
  }
  img {
    width: 18px;
    height: 18px;
    object-fit: cover;
    margin-right: 15px; 
  }
}

// right - experience
.experience {
  li {
    margin-bottom: 15px;
    span {
      color: $txt-sub;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

// right - skill
.skill-icons {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-icon {
  width: 50px;
  height: 50px;
  &.etc {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    background: $line;
    color: $txt-default;
    border-radius: 50%;
    padding-top: 4px;
    &:hover {
      color: $w;
      background: $primary;
    }
  }
}

// right - certificate
.certificate {
  li {
    margin-bottom: 15px;
    span {
      color: $txt-sub;
      font-size: 14px;
      font-weight: 600;
    }
  }
}


//left
.left-pofol {
  width: 65%;
  height: 100%;
  background: #ccc;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-right: 25px;
  overflow: hidden;
  .page-image {
    width: 100%;
    height: auto;
  }
  .work-img {
    width: 100%;
    height: 100%;
    // -ms-transform: scale(0.25);
    // -moz-transform: scale(0.25);
    // -o-transform: scale(0.25);
    // -webkit-transform: scale(0.25);
    // transform: scale(84.9%);
    
    // -ms-transform-origin: 0 0;
    // -moz-transform-origin: 0 0;
    // -o-transform-origin: 0 0;
    // -webkit-transform-origin: 0 0;
    // transform-origin: 0 0;

    border-radius: 10px;
    margin-right: 45px;
  }
}

.left-pofol .page-image:hover {
  animation: imgScroll 10s;
}
@keyframes imgScroll {
  0% {transform: translateY(0);}
  100% {transform:translateY(-100%);}
}

//right
.right-pofol {
  // width: 32%;
  flex: 1;
  position: relative;
  .logo-asmo {
    width: 190px;
  }
  .desc-wrap {
    margin: 30px 0;
    li {
      display: flex;
      gap: 15px;
    }
    span {
      font-weight: 600;
    }
    p {
      color: $txt-sub;
      margin-bottom: 10px;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 20px;
    color: #00C1C1;
    margin-bottom: 15px;
  }
  .check-list {
    padding-left: 27px;
    li {
      list-style-image: url(../../assets/images/comm/emoji-check-18.png);
      margin-bottom: 15px;
    }
    span {
      font-weight: 600;
    }
    p {
      margin-top: 5px;
      font-size: 14px;
      color: $txt-sub;
    }
  }
.togo-btn:hover {
    background: #00C1C1;
    border: 1px solid #00C1C1;
    p {
    color: $w;
    }
  }
}

.togo-btns{
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 0;
  .togo-btn{
    padding: 8px 20px;
    border: 1px solid $line;
    border-radius: 10px;
    transition: all .15s;
    p {
      font-weight: 600;
    }
  }
}


// portfolio2 청도몰
.port2-sec {
  background: $bg-light;
}
.port2-bg {
  background: url(../../assets/images/comm/line100w.png) center center / cover no-repeat;
}

.port2-wrap {
  .pin {
    background: #77B934;
  }
  h4 {
    color: #77B934;
  }
  .togo-btn:hover {
    background: #77B934;
    border: 1px solid #77B934;
    p {
    color: $w;
    }
  }
  .logo-cheongdo {
    width: 250px;
  }
}


// portfolio3 코카콜라
.port3-sec {
  background: linear-gradient(to bottom, $bg-light, $bg-mid);
}
.port3-bg {
  background: url(../../assets/images/comm/line100w.png) center center / cover no-repeat;
}

.port3-wrap {
  .pin {
    background: #DB2828;
  }
  h4 {
    color: #DB2828;
  }
  .togo-btn:hover {
    background: #DB2828;
    border: 1px solid #DB2828;
    p {
    color: $w;
    }
  }
  .logo-coca {
    width: 270px;
  }
}

// sec2 - portfolio1 아스모디코리아
.port1-sec {
  background: $bg-mid;
  display: flex;
  justify-content: space-around;
}
.port1-bg {
  background: url(../../assets/images/comm/line100w.png) center center / cover no-repeat;
}

.pot1-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.port1-pins {
  .pin {
    background: #00C1C1;
  }
}


// portfolio 4 - etc
.ud-left-pofol {
  background: #fff;
  border: 1px solid $w;
  .udroom-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .work-img {
    width: 100%;
    display: flex;
    align-items: center;
    // background: #000;
  }
  .work-title {
    position: relative;
  }
  .thumbnail {
    background: url(../images/comm/pofol1.jpg) center center / cover no-repeat ;
  }
  .detailpage {
    background: url(../images/comm/pofol-page0.jpg) top center / cover no-repeat ;
  }
  .print {
    background: url(../images/comm/pofol-print.jpg) center center / cover no-repeat ;
  }
  .gs {
    background: url(../images/comm/pofol-gs.jpg) center center / cover no-repeat ;
  }
  .ninetale {
    background: url(../images/comm/pofol-nine.png) center center / cover no-repeat ;
  }
  .etc {
    background: url(../images/comm/pofol-airpods.png) center center / cover no-repeat ;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s ease-in-out;
  }
  .work-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    height: 49.5%;

    border: 1px solid $line;
    border-radius: 3px;
    p {
      z-index: 1;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      color: $primary;
      text-shadow: -1px 0px $w, 0px 1px $w, 1px 0px $w, 0px -1px $w;
      transition: opacity 0.2s ease-in-out;
    }
    .work-sub {
      font-size: 12px;
      font-weight: normal;
      color: $txt-default;
    }
  }
  .work-title:hover {
    p {opacity: 0;}
    .overlay {opacity: 0;}
  }
}

.port4-sec {
  background: linear-gradient(to bottom, $bg-mid, $primary);
}
.port4-bg {
  background: url(../../assets/images/comm/room100w.png) center center / cover no-repeat;
}
.port4-wrap {
  .logo-ud {
    width: 130px;
  }
  .pin {
    background: $point; 
  }
  h4 {
    color: $point;
  }
  .check-list li .list-in-list {
    list-style-image: none;
    list-style-type: square;
    margin-bottom: 5px;
  }
}