// 변수설정
$bg-light: #F3EDFF;
$bg-mid: #D6C1FF;
$primary: #9A74EB;
$point: #FFC700;

$w: #fff;
$b: #000;

// reset
html,
body {
  padding: 0;
  margin: 0;
}

// intro (home)
.intro-animation{
  position: relative;
}

.animation {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-text{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.eng {
  display: none;
}

.annyeong,
.hello {
  position: relative;
  margin: 0 -10px;
  top: 20px;
  width: 180px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .3));

  animation: bounce .45s ease infinite alternate;
  &:nth-child(2) {animation-delay: .1s;}
  &:nth-child(3) {animation-delay: .2s;}
  &:nth-child(4) {animation-delay: .3s;}
  &:nth-child(5) {animation-delay: .4s;}
  &:nth-child(6) {animation-delay: .5s;}
}
@keyframes bounce {
  100% {
    top: -20px;
    filter: drop-shadow(0 50px 25px rgba(0, 0, 0, .1));
  }
}

.posters {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.profile-poster{
  position: absolute;
  top: 30px;
  left: 30px;
  width: 250px;
  height: 250px;
}
.my-img {
  width: inherit;
  height: inherit;
  background: url(/assets/images/comm/udroom-logo.png) center center / contain no-repeat;
}

// profile
